.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.size-input {
  width: 50px; 
  text-align: center;
}

.submit-btn {
  margin-left: 25px;
}

.sort-div {
  padding : 10px;
}